{% load wagtailcore_tags wagtailimages_tags khanatek_tags static %}

<div class="col-md-4 mb-r wow fadeInUp" data-wow-delay="0.2s">
            <div class="view overlay hm-white-slight mb-3">
                {% image post.feed_image fill-398x266 as background %}
                <img src="{{ background.url }}" >
                    <a href="{% pageurl post %}">
                        <div class="mask"></div>
                    </a>
            </div>
            <label class="blue-text">Article</label>
                        <h3>{{ post.title }}</h3>
                        {% for author in post.related_author.all %}
                        <p>by <a><strong>{{ author.author.title }}{% if not forloop.last %},&nbsp;{% endif %}</strong></a>{% endfor %}, {% if post.date %}{{ post.date|date:"j F Y" }}{% endif %}</p>
                        <p>{{ post.body|truncatewords:28 }}</p>
                        <a class="btn btn-primary " href="{% pageurl post %}">Read more</a>
</div>