{% extends "khanatek/base.html" %}
{% load wagtailcore_tags wagtailimages_tags khanatek_tags %}
{% block content %}

<!--     <style>
        .article-hero {
            {% image page.main_image original as main_image %}
            background-image: url("{{ main_image.url }}");
        }
    </style> -->


<!--Main layout-->
<main>
    <div class="container-fluid">
        
        <div class="row">

                <!--Post column-->
            <div class="col-md-8">

                    <!--Section: Post-->
                    <section class="section section-blog-fw">

                        <!--First row-->
                        <div class="row">
                           
                            <div class="col-md-12 wow fadeInUp">
                               
                                <!--Featured image-->
                                {% if image %}
                                    {% image page.main_image fill-744.6x328.85 as background %}
                                    <div class="" style="background-image: url("{{ main_image.url }}");"></div>
                                {% endif %}

                                {% include "khanatek/includes/breadcrumb.html" %}

                                <!--Post data-->
                                <div class="jumbotron wow fadeInUp" data-wow-delay="0.2s">
                                    <h2 class="{% if self.title|length >= 30 %}long-title{% endif %}">{{ self.title }}</h2>
                                    <p>Written by <a>{{ author.author }}</a>, {% if self.date %}<span class="date">{{ self.date|date:"j F Y" }}</span>{% endif %}</p>

                                </div>
                                <!--/Post data-->

                                <!--Post text-->
                                <article>
                                    {% if not self.streamfield and self.intro %}
                                        {{ self.intro|richtext }}
                                    {% endif %}

                                    {% for block in page.body %}
                                        {{ block }}
                                    {% endfor %}

                                    {% if self.body %}
                                        {% include "khanatek/includes/streamfield.html" %}
                                    {% endif %}
                                </article>

                                <!-- <div class="text-center">
                                    <h3 class="h3-responsive">Do you want to share?</h3> -->
                                    <!--Facebook-->
<!--                                     <a href="https://www.facebook.com/mdbootstrap" target="_blank" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a> -->
                                    <!--Twitter-->
<!--                                     <a href="https://twitter.com/MDBootstrap" target="_blank" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a>
 -->                                    <!--Google +-->
<!--                                     <a href="https://plus.google.com/u/0/+Mdbootstrap" target="_blank" class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a>
                                </div>
 -->                                
                            </div>
                            
                        </div>
                        <!--/First row-->
                        
                    </section>
                    <!--/Section: Post-->

                    <!--Section: About author-->
                    <section class="mb-4">
                        <!--Author box-->
                        <div class="author-box">
                            <!--Name-->    
                            <h3 class="h3-responsive text-center">About author</h3>
                            <hr>
                            <div class="row">
                                <!--Avatar-->
                            {% with self.related_author.all as authors %}
                                {% if authors %}
                                {% for author in authors %}
                                <div class="col-12 col-sm-2">
                                    {% if author.author.image fill-83.1x83.1 as photo %}
                                    <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" class="img-fluid rounded-circle z-depth-2">
                                    {% endif %}
                                </div>
                                <!--Author Data-->
                                <div class=" col-12 col-sm-10">
                                    <p><strong>
                                        {% if author.author %}<a href="{% pageurl author.author %}" class="name">{{ author.author.title }}</a>{% endif %}
                                        {% if author.author.role %}
                                            <span class="role">{{ author.author.role }}</span>
                                        {% endif %}    
                                    </strong></p>
                                    <!-- <div class="personal-sm">
                                        <a class="email-ic"><i class="fa fa-home"> </i></a>
                                        <a class="fb-ic"><i class="fa fa-facebook"> </i></a>
                                        <a class="tw-ic"><i class="fa fa-twitter"> </i></a>
                                        <a class="gplus-ic"><i class="fa fa-google-plus"> </i></a>
                                        <a class="li-ic"><i class="fa fa-linkedin"> </i></a>
                                        <a class="email-ic"><i class="fa fa-envelope-o"> </i></a>
                                    </div> -->
                                </div>
                                {% endfor %}
                                {% endif %}
                            {% endwith %}
                            </div>
                        </div>
                        <!--/.Author box-->
                                        {% with self.tags.all as tags %}
                    {% if tags %}
                        <div class="tags">
                            <h4>tags</h4>
                            <ul>
                            {% for tag in tags %}
                                <li>
                                    <a href="{% pageurl self.blog_index %}?tag={{ tag.tag.slug }}">{{ tag.tag }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endwith %}

            </div>

        </div>
</section>
<!--/Section: About author-->
    {% get_next_sibling_article self as next_page %}
    {% if next_page %}
        <div class="nextprev-nav">
            <a href="{% pageurl next_page %}">
                {% image next_page.feed_image original as image %}
                <div class="next {{ next_page.homepage_color }}"{% if not next_page.homepage_color and image %} style='background-image: url({{ image.url }});'{% endif %}>
                    <div class="container">
                        <div class="content">
                            <h2>{{ next_page.title }}</h2>
                            {% with next_page.related_author.all as authors %}
                                {% for author in authors %}
                                    {% if author.author %}
                                        <p class="author">{{ author.author.title }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endif %}

</main>

{% endblock %}